
.padre{
	width: 1000px;
	height: 1000px;
	position: relative;
}

.imgAbsoluto{
	width: 200px;
	height: 200px;
	background:#000;
	display: inline-block;
	margin: 0;
	position: absolute;
	top:0;
	left:0;
	
} 
.imgNormal{
	width: 200px;
	height: 200px;
	background:teal;
	display: inline-block;
	margin: 0;
}  

/*
El posicionamiento absoluto se mueve desde el borde superior
de navegador a menos que se le indique a su contenedor
podre un posicionamiento releativa. este posicionamiento afecta
a los demas elementos
*/  