/* Las pseudoclases estan precedidas 
de: y sirven para darle estilos
a algun elemento cuando tiene un estado; */


.activado:active{
	color:red;
	background: #000;
}

a.linkNovisitado:link{
	color:green;
}
a.visitada:visited{
	color: coral;
}

.caja{
	width: 200px;
	height: 200px;
	background: blue;
}
.caja:hover{
	background:black;
	color:#fff;
}
input.focus{
	border:2px solid gray;
}
input.focus:focus{
	border: 2px solid cyan;
}

/*Existen otras pseudo clases como :first-ch
que selecciona el primer hijo de un contenido*/

p:first-child {
	background-color: yellow;
}
p:last-child{
	background:pink;
}

p.linea::first-line{
	color: red;
	text-transform: uppercase;
}
p.letra::first-letter{
	font-size: 48px;
	color: red;
	padding: 30px;
}
